$color-orange: #e4c41c;
$color-gray: #746c6c;
$dark-gray: #1d1c1c;
$color-blue: #1414b3;
$pale-blue: #08a6ea;
$bg-color: #e3ebeca9;
$footer-text-color: #dad4d4;
$transition-main: 0.3s ease-out;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Monda,
    'Noto Sans KR',
    sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card{
  padding: 5px !important;
}

.container{
  width: 70% !important;
}

// Socials Component

 .icons {
   display: flex;

   span {
     font-size: 18px;
     display: inline-block;
     padding: 5px 10px;
     text-align: center;
     color: #fff;
     background: transparent;
     /* default color */
     /* "to top" - affects initial color */
     background: linear-gradient(to top, transparent 50%, darkblue 50%) bottom;
     background-size: 100% 200%;
     /* Adjust the background size for top-to-bottom effect */
     transition: background-position 0.3s ease-out;
     cursor: pointer;

     &:first-child {
       /* Apply different background to odd child spans */
       color: $color-orange;
       background: linear-gradient(to top, transparent 50%, darkgray 50%) bottom;
       background-size: 100% 200%;
     }

     &:last-child {
       /* Apply different background to odd child spans */
       background: linear-gradient(to top, transparent 50%, palegreen 50%) bottom;
       background-size: 100% 200%;
     }

     &:nth-child(2) {
       /* Apply different background to even child spans */
       background: linear-gradient(to top, transparent 50%, red 50%) bottom;
       background-size: 100% 200%;
     }

     &:hover {
       background-position: top;
     }

   }
 }

 .active-header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  transition: top 0.6s ease-out;
 }


// Header Section

.header-cont{
  height: auto;

  .top-header{
    width: 100%;
    height: 45px;
    overflow: hidden;
    transition: height 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-image: url("../public/assets/bitnine-banner.png");
    z-index: 9;

    h6{
      font-size: 18px;
      letter-spacing: .7px;
      font-weight: 400;
      transition: 0.4s ease-in;

      span{
        font-weight: bold;
        margin-right: 5px;
      }

      &:hover{
        color: $color-orange;
      }
      
    }
  }

    .hide-top {
      height: 0;
      /* Disable interaction when hidden */
    }
  
  .main-header{
    background-color: #000000;
    color: #ffffff;
    
    .social-row{
      height: 45px;
      padding: 0 10px;
      position: relative;

      .right{
        height: 100%;
        float: right;
        display: flex;
        align-items: center;

        .info{
          display: flex;
          height: 100%;
          align-items: center;

          .search{
            margin-right: 20px;

            input{
              width: 0;
              background-color: inherit;
              color: #fff;
              font-size: 14px;
              font-weight: normal;
              border: none;
              margin-right: 10px;
              transition: width 0.3s ease;

              &:focus{
                outline: none;
              }
            }

            .search-active{
              width: 150px;
            }

            span{
              cursor: pointer;
              font-size: 18px;
              transition: transform 0.5s ease;

              .fa-times{
                color: gray;
              }

              &:hover{
                color: gray;
              }
            }
          }

          h6{
            margin: auto 0;
            margin-right: 70px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 300;
            transition: 0.3s ease-out;
            cursor: pointer;

            &:hover{
              width: 70px;
              padding: 5px 0;
              color: gray;
            }
          }
        }
      }
    }

    .navbar-row{
      display: flex;
      height: 100px;
      align-items: center !important;
      justify-content: space-between;
      padding: 0 50px;
      position: relative;

      .logo-cont{
        display: block;

          .lan-btn{
            margin-left: 10px;
            width: 170px;
            background-color: #ffffffea;
            color: gray;
            border: 2px solid $color-blue;
            border-radius: 7px;
            font-size: 16px;
            padding: 10px;
            cursor: pointer;
            position: absolute;
            top: 0;

            &:focus{
              outline: none;
            }
          }

          .menu-bar{
            display: none;
          }
      }

    .menu{
      display: flex;
      align-items: flex-start;
      height: auto;

      ul{
        display: inline-flex;
        list-style-type: none;
        margin: auto 0;
        padding: 0;

        li{
          display: inline;
          padding: 0 10px;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 1px;
          margin: auto 0;
          font-weight: 400;
          transition: $transition-main;
          position: relative;
          cursor: pointer;

          &:last-child{
            padding: 0;;
          }

          p{
            height: 25px;
            margin: auto 0;

            i{
              display: none;
              font-size: 20px;
              margin: auto 0;
              float: right;
            }

            &:hover{
              color: $color-orange;
            }

            &:hover .sub-menu{
              display: flex;
            }

          }

          .active-link{
            color: $color-orange;
          }

          .hide-dummy{
            height: 25px;
            margin: 0;
            padding: 0;
            opacity: 0;
          }

          .sub-menu{
            display: none;
            width: 180px;
            height: auto;
            flex-direction: column;
            background-color: #2c2a2a;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 50px;

            i{
              font-size: 20px;
              margin: auto 0;
              float: right;
            }

            li{
              font-size: 14px;
              text-transform: capitalize;
              padding: 5px 10px !important;
              font-weight: 300;
              position: relative;

              .sub-menu-2{
                display: none;
                width: 180px;
                flex-direction: column;
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color: #4b4848;
                position: absolute;
                top: 0;
                left: 180px;
              }

              &:hover{
                background-color: #000000;
                color: #fff;
              }

              &:hover .sub-menu-2{
                display: flex;
              }
            }
          }


          button {
            width: 100px;
            margin-top: -25px;
            margin-left: 0;
            background-color: $color-blue;
            border-radius: 5px;
            border: none;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            padding: 5px 10px;
          }

          &:hover .sub-menu{
            display: flex;
          }
        }
      }
    }
  }
  }
}


@media (max-width: 599px){
  .header-cont{

  .top-header{
    height: 45px !important;
    padding: 14px !important;

    h6{
      max-width: 300px !important;
      font-size: 10px !important;
      text-align: center !important;
      font-weight: 300 !important;
    }

  }
  .social-row{
    display: none;
  }

  .navbar-row{
    width: 100% !important;
    height: 70px !important;
    justify-content: unset !important;
    flex-direction: column;
    padding: 0 !important;
    position: relative !important;;

    .logo-cont{
      height: 70px;
      width: 100%;
      padding: 10px;
      border-bottom: 0.5px solid gray;

      img{
        margin: 10px;
        width: 100px;
        height: 30px;
        object-fit: contain;
      }
      .lan-btn{
        width: auto !important;
        padding: 5px 0 !important;
        top: 0px !important;
        right: 60px;
        font-size: 12px !important;
      }

      .menu-bar{
        display: inline-flex !important;
        cursor: pointer;
        margin: auto 0 !important;
        float: right;

        i{
          color: #fff;
          font-size: 22px;
          float: right;
          padding: 10px !important;
        }
      }
    }

    .menu{
      width: 100% !important;
      position: absolute;
      top: 70px;
      overflow: hidden;
      background-color: #000000;
      transition: height 0.3s ease-out;

      ul{
        width: 100% !important;
        display: inline-block !important;
        padding: 0 10px !important;
        
        li{
          padding: 0 10px !important;
          margin: 0 !important;
          font-size: 16px !important;
          color: #ffffff;
          height: 25px;
          position: relative !important;
          height: auto;

          p{
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          i{
            display: block !important;
            font-size: 30px !important;
          }

          .sub-menu-cont{
            height: auto;
            overflow: hidden;
          }

          .hide-dummy{
            display: none;
          }

          .sub-menu{
            position: unset !important;
            width: 100% !important;
            display: flex !important;
            flex-direction: column !important;
            background-color: #000000 !important;
            padding: 0 !important;
            margin: 0 !important;
            // overflow: hidden;

            li{
              font-size: 14px !important;
              margin: 5px 0 !important;
            }
          }

          .sub-menu-big-screen{
            display: none !important;
          }



          .sub-menu-2{
            display: flex !important;
            width: 100% !important;
            flex-direction: column;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #4b4848;
            position: unset !important;
          }

          &:last-child{
            margin-bottom: 10px !important;
          }
        }

        .sub-items{
          height: auto !important;
          display: flex !important;
          flex-direction: column !important;
          overflow: unset !important;

          .sub-menu-2{
            background-color: #000000 !important;
            padding: 0 !important;
            
          }
        }
      }

    }
  }
}
}

// AgensSQLInfo Section
.info-cont{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  margin-top: 200px;

  .wrapper{
    width: 60%;
    padding: 0 5px;
    padding-top: 50px;

    .info-logo{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0 0 20px 0;
    }

    h6{
      font-size: 22px;
      font-weight: normal;
      color: #272525;
      text-align: center;
    }

    p{
      text-align: center;
      padding: 5px;
      color: $color-gray;
      font-weight: 500;
      letter-spacing: 1px;
    }

    .btn-cont{
      display: flex;
      justify-content: center;
      gap: 30px;

      button{
        background-color: $color-blue;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;

        &:hover{
          color: $color-orange;
        }
      }
    }
  }
}


@media (max-width: 599px){
  .info-cont{
    margin-top: 150px !important;
  }
  .wrapper{
    width: 100% !important;
    padding: 30px 20px !important;

    h6{
      font-size: 20px !important;
    }

    p{
      font-size: 14px !important;
      padding: 3px 5px !important;
    }

    .btn-cont{
      gap: 20px !important;
    }
  }
}


// AgensPackage Section
.package-info{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  margin-top: -100px;

  .package-wrapper{
    width: 80%;
    display: flex;
    justify-content: center;

    img{
      height: 80vh;
    }
  }
}

@media (max-width: 599px){
  .package-info{
    height: 60vh !important;

    .package-wrapper{
      width: 100% !important;
      padding: 0 20px !important;

      img{
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

// Features Section
.features-info{
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    font-weight: bold;
    font-size: 34px;
  }

  p{
    color: $color-gray;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }

  .feature-img{
    width: 80%;
    margin-top: 20px;

    img{
      width: 100%;
      height: 400px;
    }
  }
}

@media (max-width: 599px){
  .features-info{
    padding: 50px 30px !important;
    height: 500px !important;

  p{
    text-align: center;
    font-size: 14px !important;
  }

  .feature-img{
    width: 100% !important;
    margin-top: 0 !important;

    img{
      height: 200px !important;
      object-fit: contain;
    }
  }
}
}

// AgensSQLDBEngine Section
.engine-cont{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-color;
  padding: 50px 0;

  h1 {
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 10px;
  }

  h6{
    text-decoration: underline;
    font-weight: 600;
    font-size: 22px;
    color: $color-gray;
  }
  
  p {
    color: $color-gray;
    padding: 0;
    font-size: 16px;
    margin: 30px 0;
    max-width: 350px;
    text-align: center;
    }

  .engine-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-out, border-color 0.6s ease-out;
    border: 1px solid #e9dfdf;
    border-radius: 10px;
    height: 200px;
    position: relative;
    cursor: pointer;

    .image-cont{
      width: 60%;
      height: 150px;

      img{
        width: 100%;
        height: 100%;
      }
    }

      ul {
        position: absolute;
        background-color: #fff;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: scale(0);
        transition: transform 0.7s;
      
        li {
          font-size: 14px;
        }
      }


    &:hover ul{
      transform: scale(1);
    }

    &:hover{
      border-color:#9999e1;
    }

  }
}

@media (max-width: 599px){
  .container{
    width: 100% !important;
  }

  .engine-cont{
    h1{
      font-size: 24px !important;
      margin-bottom: 20px !important;
    }

    h6{
      font-size: 18px !important;
    }

    .engine-card{
      margin-bottom: 10px;
    }
  }
}

// AgensPackageInfo Section

.package-info-cont{
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;


  h1 {
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 10px;
  }
  
  p {
    color: $color-gray;
    padding: 0;
    font-size: 16px;
    max-width: 800px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 1px;
    }
  
  .package-info-wrapper{
    width: 80%;
    display: flex;
    gap: 20px;

    h5 {
        text-align: center;
        color: #5c5a5a;
        font-weight: 700;
        margin: 10px 0;
      }

    .package-left{
      flex: 1;

        h6 {
          font-weight: 300;
          font-size: 22px;
          margin: 10px 0;
          color: $color-gray;
    
          span {
            color: $pale-blue;
            font-weight: 600;
          }
        }

      .load-img{
        width: 100%;

        img{
          width: 100%;
          height: 400px;
          object-fit: contain;
        }
      }
    }

    .package-right{
      flex: 1;

      .package-card{
        width: 100%;
        height: 90px;
        position: relative;
        margin: 5px 0;
        transform-style: preserve-3d;

        .card-front,
          .card-back {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            backface-visibility: hidden;
            transition: transform 0.6s;
            background-color: #fff;
            border: 2px solid $pale-blue;
            border-radius: 10px;
            padding: 10px;
            box-sizing: border-box;
          }

          .card-back {
            transform: rotateY(180deg);
            border: none;
          }

          .card-front{
            // transform: rotateY(0deg);

            h6{
              color: $pale-blue;
            }

            &:not(:hover){
              transform: none;
            }
          }

        ul{
          width: 100%;
          height: 90px;
          background-color: $pale-blue;
          color: #fff;
          border-radius: 10px;
          border: 2px solid $pale-blue;
          list-style-type: circle;
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &:hover .card-front{
          transform: rotateY(180deg);
        }

        &:hover .card-back{
          transform: rotateY(0deg);
        }
      }
    }
  }


}

@media (max-width: 599px){
  .package-info-cont{
    padding: 50px 0 !important;
  h1 {
      font-weight: bold;
      font-size: 24px !important;
      margin-bottom: 10px;
      text-align: center;
    }
  
    p {
      font-size: 14px !important;
      max-width: 350px !important;
      letter-spacing: 0.5px !important;
    }
    .package-info-wrapper{
      width: 100% !important;
      flex-wrap: wrap;

      .package-left{
        flex: 100% !important;
        padding: 0 20px;

        h6{
          font-size: 18px !important;
          text-align: center !important;
          margin-top: 10px !important;
        }

        .load-img{
          margin-bottom: -50px !important;
        }
      }

      .package-right{
        flex: 100% !important;
        padding: 0 20px;

        .package-card{
          margin: 10px 0 !important;
        }
      }
    }
  }
}

// Footer
.footer-cont{
  background-color: #111112;
  padding: 80px 100px 30px 100px;

  .footer-row{
    display: flex;
    gap: 10px;

    .col-f{
      flex: 1;

      h6{
        color: $footer-text-color;
        text-transform: uppercase;
        font-size: 16px;
      }

      .link{
        cursor: pointer;
        transition: 0.4s ease-out;

        &:hover{
          color: $pale-blue;
        }
      }

      ul{
        margin: 0;
        padding: 0;
        list-style-type: none;

        li{
          color: $footer-text-color;
          font-size: 16px;
          padding: 2px 0;
          letter-spacing: 1px;
          transition: 0.4s ease-out;
          cursor: pointer;

          &:hover{
            color: $pale-blue;
            transform: scale(.9);
          }
        }
      }
    }
  }

  .copyright-cont{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
      color: $color-gray;
    }

    .footer-icons{
      display: flex;
      align-items: center;
      gap: 10px;

      h6{
        text-transform: uppercase;
        color: $color-gray;
        font-size: 14px;
        cursor: pointer;
        margin: auto 0;
        transition: $transition-main;

        &:hover{
          color: $pale-blue;
        }
      }
    }
  }
}

@media (max-width: 599px){
  .footer-cont{
    padding: 10px !important;
    .footer-row{
      display: none !important;
    }

    .footer-icons{
      display: none !important;
    }
  }
}
