$color-orange: #e4c41c;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Header Section

.cont{
  .top-header{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-image: url("../public/assets/bitnine-banner.png");
    z-index: 9;

    h6{
      font-size: 18px;
      letter-spacing: .7px;
      font-weight: 400;
      transition: 0.4s ease-in;

      span{
        font-weight: bold;
        margin-right: 5px;
      }

      &:hover{
        color: $color-orange;
      }
      
    }
  }
  
  .main-header{
    background-color: #000000;
    color: #ffffff;
    
    .social-row{
      height: 45px;
      padding: 0 10px;
      position: relative;

      .right{
        height: 100%;
        float: right;
        display: flex;
        align-items: center;

        .info{
          display: flex;
          height: 100%;
          align-items: center;

          .search{
            margin-right: 20px;

            input{
              width: 0;
              background-color: inherit;
              color: #fff;
              font-size: 14px;
              font-weight: normal;
              border: none;
              margin-right: 10px;
              transition: width 0.3s ease;

              &:focus{
                outline: none;
              }
            }

            .search-active{
              width: 150px;
            }

            span{
              cursor: pointer;
              font-size: 18px;
              transition: transform 0.5s ease;

              .fa-times{
                color: gray;
              }

              &:hover{
                color: gray;
              }
            }
          }

          h6{
            margin: auto 0;
            margin-right: 70px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 300;
            transition: 0.3s ease-out;
            cursor: pointer;

            &:hover{
              width: 70px;
              padding: 5px 0;
              color: gray;
            }
          }
        }

        .icons{
          display: flex;

          span {
           font-size: 18px;
           display: inline-block;
           padding: 5px 10px;
           text-align: center;
           color: #fff;
           background: transparent; /* default color */
           /* "to top" - affects initial color */
           background: linear-gradient(to top, transparent 50%, darkblue 50%) bottom;
           background-size: 100% 200%;
           /* Adjust the background size for top-to-bottom effect */
           transition: background-position 0.3s ease-out;
           cursor: pointer;

          &:first-child {
              /* Apply different background to odd child spans */
              color: $color-orange;
              background: linear-gradient(to top, transparent 50%, darkgray 50%) bottom;
              background-size: 100% 200%;
            }

            &:last-child {
                /* Apply different background to odd child spans */
                background: linear-gradient(to top, transparent 50%, palegreen 50%) bottom;
                background-size: 100% 200%;
              }
            
              &:nth-child(2) {
                /* Apply different background to even child spans */
                background: linear-gradient(to top, transparent 50%, red 50%) bottom;
                background-size: 100% 200%;
              }

           &:hover{
             background-position: top;
           }
            
          } 
        }
      }
    }
  }
}
