$color-orange: #e4c41c;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Header Section

.cont{
  .top-header{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-image: url("../public/assets/bitnine-banner.png");

    h6{
      font-size: 18px;
      letter-spacing: .7px;
      font-weight: 400;
      transition: 0.4s ease-in;

      span{
        font-weight: bold;
        margin-right: 5px;
      }

      &:hover{
        color: $color-orange;
      }
      
    }
  }
}
